<% if(typeof urls != 'undefined' && urls.length > 0) { %>
<div class="panel panel-default" style="margin-top: 10px;"><input type="hidden" id="page" value="<%if(typeof page != 'undefined') {%><%=page%><%} else {%>1<%}%>"/>
  <div class="panel-heading">Ścieżki</div>
  <table class="table">
    <tbody>
		<% for(var i=0; i<urls.length; i++){ %>
		<tr>
			<td>
				<a href="/get/<%=urls[i]._id%>"><%= typeof urls[i].title != 'undefined' && urls[i].title ? urls[i].title : urls[i].url%></a> <%if(typeof urls[i].type != 'undefined') {%><%=urls[i].type%> <%}%>			
			</td>
			<td>
				<a target="_blank" class="<%= (typeof urls[i].upload != 'undefined' && !urls[i].upload)||(urls[i].url.indexOf('http')==0) ? '' :'hidden'%>" href="<%=urls[i].url%>">&raquo;</a>
			</td>
		</tr>
		<% } %>        	
    </tbody>
  </table>
</div>
<% } %>
